<header class="header">
  <div class="header-inner">
    <div class="header-menu" >
      <label class="menu3">
        <input id="menu3" type="checkbox" value="off" />
        <label class="menu3-1" for="menu3"></label>
        <label class="menu3-2" for="menu3"></label>
        <label class="menu3-3" for="menu3"></label>
      </label>
    </div>
    <div class="logo">
      <%= image_tag "logo.png" %>
    </div>
    <nav class="header-nav">
      <div class="header-nav-item">
        <a class="header-button header-signup">新規登録</a>
      </div>
      <div class="header-nav-item">
        <a class="header-button header-login">ログイン</a>
      </div>
    </nav>
  </div>
</header>