.header {
  /* position: fixed; */
}

.header-3 {
  box-sizing: border-box;
  width: 100%;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  height: 60px;
  padding: 0 0.8em;
  margin: 0 auto;
  font-size: 1.2em;
}

#menu3 {
  display: none;
}

.menu3 {
  display: block;
  width: 40px;
  font-size: 0;
}

.menu3-1,
.menu3-2,
.menu3-3 {
  box-sizing: border-box;
  display: inline-block;
  width: 40px;
  height: 4px;
  margin: 4px 0;
  background-color: #333;
  border-radius: 4px;
  transition: all 0.4s;
}

#menu3:checked ~ .menu3-1 {
  transform: translateY(12px) rotate(-45deg);
}

#menu3:checked ~ .menu3-2 {
  opacity: 0;
}

#menu3:checked ~ .menu3-3 {
  transform: translateY(-12px) rotate(45deg);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-item {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.logo img {
  width: 250px;
}

.header-button {
  box-sizing: border-box;
  display: inline-block;
  padding: 0.5em 1.2em;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.header-login {
  color: #999;
}

.header-signup {
  font-weight: bold;
  color: #fff;
  background: #00b5ad;
  border: 1px #00b5ad solid;
  border-radius: 3px;
}

@media screen and (max-width: 480px) {
  .header-post {
    display: none;
  }
}